.action-btns {
  padding-bottom: 20px;
}
.reviews {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid black;
}
.image-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.point-area {
  padding-top: 10px;
}
.point-area > div {
  padding: 0px;
}
.review-area {
  padding-top: 30px;
}
.own-review-label {
  height: 31px;
  margin-bottom: 5px;
}
.own-review-label span {
  position: relative;
  top: 10px;
}
.own-review-label button {
  margin-left: 10px;
}
