<div class="app wiwit-aditya">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav"
    [ngClass]="{'navbar-shrink': isHeaderShrink}">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" (click)="onLoadHome();">
        Watch it Later
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button"
              data-toggle="collapse"
              data-target="#navbarResponsive"
              aria-controls="navbarResponsive"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" (click)="onLoadHome();"
              [ngClass]="{'active': currentRouter === '/'}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" (click)="onLoadTop100();"
               [ngClass]="{'active': currentRouter === '/top100'}">Top 100 Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" (click)="onLoadLatest();"
               [ngClass]="{'active': currentRouter === '/latest'}">Latest Movies</a>
          </li>
          <li class="nav-item" [hidden]="hasUser">
            <a class="nav-link js-scroll-trigger" (click)="onLoadRegister();"
               [ngClass]="{'active': currentRouter === '/register'}">Register </a>
          </li>
          <li class="nav-item" [hidden]="hasUser">
            <a class="nav-link js-scroll-trigger" (click)="onLoadLogin();"
               [ngClass]="{'active': currentRouter === '/login'}">Signin</a>
          </li>
          <li class="nav-item" [hidden]="!hasUser">
            <a class="nav-link js-scroll-trigger" (click)="onDashboard();"
               [ngClass]="{'active': currentRouter === '/dashboard'}">My Account</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <app-loading-spinner></app-loading-spinner>
  <router-outlet class="router-outlet"></router-outlet>
</div>
