:host(.isShowMore) {
  max-width: 1000px;
  width: 1000px;
}

:host {
  max-width: 800px;
  width: 800px;
  margin: auto;
  background: #ffffff;
}

.modal-header button {
  cursor: pointer;
}
.modal-body .image-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-footer button {
  cursor: pointer;
}

.action-area {
  margin-left: 5px;
  margin-right: 5px;
}

.comment-btn {
  float: right;
  cursor: pointer;
}

.bookmark-btn {
  margin-right: 10px;
  float: right;
  cursor: pointer;
}
