.home-component {
  /*height: 600px;*/
  height: 100%;
}

.header-content-inner h1,
.header-content-inner p {
  color: yellow !important;
}

.movie-area {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.find-out-more > a {
  color: #000000;
  cursor: pointer;
}
