<div class="container">

  <h2 class="page-tittle">Latest Movies</h2>

  <div class="">
    <div class="col col-xs-12">
      <ngb-datepicker #dp
        [(ngModel)]="selectedDate"
        (ngModelChange)="onDateChanged()"

        [dayTemplate]="t"
        [displayMonths]="1"
        [maxDate]="currentDate"
        [navigation]="'arrows'"
        [showWeekNumbers]="true">
      </ngb-datepicker>

      <ng-template #t let-date="date" let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused">
        <span class="custom-day"
              [class.disabled]="disabled"
              [class.focused]="focused"
              [class.range]="isFrom(date) || isTo(date) || isInside(date)">
          {{ date.day }}
        </span>
      </ng-template>

    </div>

    <div class="clearfix"></div>

    <div class="col col-xs-12">

      <table class="table table-hover table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th></th>
          <th>Title</th>
          <th>Released</th>
          <th>IMDB Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let m of movies; let i = index">
          <th scope="row"> {{ i + 1}} </th>
          <td>
            <img (click)="open(m)" [src]="m.imageUrl" class="img-thumbnail rounded movie-poster" height="10px"/>
          </td>
          <td>
            <span class="movie-info" (click)="open(m)">
              {{ m.title }}
            </span>
          </td>
          <td>
          <span class="movie-info" (click)="open(m)">
            {{ m.released }}
          </span>
          </td>
          <td class="text-center">
          <span class="movie-info" (click)="open(m)">
            {{ m.imdbRating }}
          </span>
          </td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>

</div>
