<div class="top100 container">

  <ng-template #content let-close="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">
        {{ this.selectedMovie.title }}
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="close();">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container row">
        <div class="col-sm-4 image-area">
          <img class="img-thumbnail" [src]="this.selectedMovie.imageUrl" />
        </div>
        <div class="col-sm-8">
          <form>

            <div class="form-group">
              <label class="col-sm-12 col-form-label">Title</label>
              <div class="col-sm-12">
                <input type="text" readonly class="form-control" name="title" [(ngModel)]="this.selectedMovie.title"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-12 col-form-label">Released</label>
              <div class="col-sm-12">
                <input type="text" readonly class="form-control" name="released" [(ngModel)]="this.selectedMovie.released"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-12 col-form-label">IMDB Rating</label>
              <div class="col-sm-12">
                <input type="text" readonly class="form-control" name="imdbRating" [(ngModel)]="this.selectedMovie.imdbRating"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-12 col-form-label">Plot Twist</label>
              <div class="col-sm-12">
              <textarea readonly class="form-control" rows="4" name="plot" [(ngModel)]="this.selectedMovie.plot"></textarea>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="close()">Close</button>
    </div>
  </ng-template>

  <h2 class="page-tittle">Hall Of Fame</h2>
  <table class="table table-hover table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th></th>
      <th>Title</th>
      <th>Released</th>
      <th>IMDB Rating</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of top100Movies; let i = index">
        <th scope="row"> {{ i + 1}} </th>
        <td>
          <img [src]="m.imageUrl" class="img-thumbnail rounded movie-poster" height="20px"/>
        </td>
        <td>
          <span class="movie-info" (click)="open(content, m)">
            {{ m.title }}
          </span>
        </td>
        <td>
          <span class="movie-info" (click)="open(content, m)">
            {{ m.released }}
          </span>
        </td>
        <td class="text-center">
          <span class="movie-info" (click)="open(content, m)">
            {{ m.imdbRating }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
