:host {
  width: 100%;
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
  background: rgba(0, 0, 0, 0.05);
}
.page-tittle {
   margin-bottom: 20px;
}
.movie-poster {
  position: relative;
  max-width: 200px;
  max-height: 100px
}
.movie-info {
  font-size: 20px;
  cursor: pointer;
}
.table > tbody > tr > td {
  vertical-align: middle;
}
.modal-header button {
  cursor: pointer;
}
.modal-body .image-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-footer button {
  cursor: pointer;
}
