:host {
  width: 100%;
  padding: 90px;
  background: rgba(0, 0, 0, 0.05);
}

h3 {
  padding-bottom: 20px;
}

.form-submited input.ng-invalid {
  border: 1px solid red;
}

.random-user-info > div {
  padding-left: 15px;
}
