:host {
  width: 100%;
  padding: 90px;
  background: rgba(0, 0, 0, 0.05);
}

.page-tittle {
  margin-bottom: 20px;
}

.profile-area {

}
.profile-info {
  width: calc(100% - 200px);
  float: left;
}
.profile-image {
  min-height: 200px;
  background: blue;

  float: right;
  width: 200px;
}
.profile-value {
  background: inherit;
  position: relative;
  top: -3px;
  width: 100%;
}

.row-movie-index {
  width: 60px;
  vertical-align: middle;
  text-align: center;
}
.movie-poster {
  cursor: pointer;
  position: relative;
  max-width: 60px;
  max-height: 100px
}
.movie-info {
  font-size: 20px;
  cursor: pointer;
}
.table > tbody > tr > td {
  vertical-align: middle;
}
.table-striped tbody tr:nth-of-type(even) {
  background: #ffffff6e;
}
